body {
    font-family: Arial-Narrow;
    background-color: #2e2b1c9a;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #c7b7b4;
}

p {
    font-size: 18px;
    color: #0706037a;
}

hr {
    margin: 20px auto;
    width: 80%;
}

div {
    background-color: rgb(214, 80, 80);
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border: 1px solid #000000;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    color: #161109;
}

#timer {
    font-size: 60px;
    margin: 15px 0;
    color: #153be7;
    letter-spacing: 2px;
}

#status {
    font-size: 20px;
    margin-top: 5px;
}
  
#modeDisplay {
    font-size: 20px;
    color: #110707;
}

button {
    padding: 10px 15px;
    margin: 8px;
    border: none;
    background-color: #681c26;
    color: white;
    min-width: 100px;
}

button:hover {
    background-color: #246bc7;
    cursor: pointer;
}

button:active {
    transform: scale(0.97);
}

ul {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}

ul li {
    margin: 5px 0;
}

#sessions {
    font-weight: bold;
    color: #2f6fed;
}

#modeText {
    font-weight: bold;
}

@media (max-width: 700px) {
    div {
        width: 90%;
    }

    #timer {
        font-size: 40px;
    }

    button {
        width: 100%;
        margin: 6px 0;
    }
}